name: ChatOps CC
on:
  repository_dispatch:
    types: [cc-command, uncc-command]
permissions:
  issues: write
  pull-requests: write
jobs:
  cc:
    runs-on: ubuntu-latest
    steps:
      - name: Install GitHub CLI
        run: sudo apt-get update && sudo apt-get install -y gh jq

      - name: Handle CC
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PAYLOAD='${{ toJson(github.event.client_payload) }}'
          COMMAND=$(echo "$PAYLOAD" | jq -r '.slash_command.command')
          ARGS=$(echo "$PAYLOAD" | jq -r '.slash_command.args.all')
          USER=$(echo $ARGS | tr -d '@')
          ISSUE_NUMBER=$(echo "$PAYLOAD" | jq -r '.github.payload.issue.number // .github.payload.pull_request.number')
          REPO=$(echo "$PAYLOAD" | jq -r '.github.payload.repository.full_name')
          if [ "$COMMAND" == "cc" ]; then
            echo "Requesting review from $USER"
            gh pr review-request $ISSUE_NUMBER --repo $REPO --add-reviewer $USER
          elif [ "$COMMAND" == "uncc" ]; then
            echo "Removing review request for $USER"
            gh pr review-request $ISSUE_NUMBER --repo $REPO --remove-reviewer $USER
          fi


